<div>
        <div>
                <p>SEARCH HERE!</p>
                <input placeholder="Search a Gif" ng-model="search" />

                <button ng-click="getAllImages(search)" type="button" name="button"> Search</button>

                <button type='button' ng-click="whatever()" name='button'>Whatevz</button>

        </div>
        <div ng-repeat="pic in allImages" class="imageDivider">
                <img src=https://i.giphy.com/{{pic.id}}.gif class="imageTile" alt="Search for pics!" />
        </div>





</div>